# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Node.js / Dependencies
node_modules/
npm-debug.log*
package-lock.json

# Sass / CSS
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# IDE / Editor Settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?