@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

body {
    font-family: $font-body;
    padding-top: $header-height;
    color: $text-dark;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
}

section {
    padding: 4rem 2rem;
    max-width: $max-width;
    margin: 0 auto;

    h2 {
        color: $primary;
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    p {
        line-height: 1.6;
        color: $text-light;
    }


}

@include tablet {
    body { padding-top: $header-height-md; }

    section {
        padding: 3rem 1.5rem;

        h2 { font-size: 2rem; }
    }
}

@include mobile {
    body { padding-top: $header-height-sm; }

    section h2 { font-size: 1.75rem; }
}